* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D5A80;
  height: 80px;
}

.all {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3D5A80;
}
.all .header {
  background-color: #3D5A80;
  width: 20%;
}
.all .header h1 {
  width: 79px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 24px;
  color: white;
}

.navbar {
  background-color: #3D5A80;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  color: white;
}
.navbar ul li {
  height: 22px;
  top: 47px;
}
.navbar ul li a {
  text-decoration: none;
  font-family: Open Sans;
  font-weight: 400px;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}

.navbtn {
  width: 50%;
  top: 34px;
  left: 1098px;
  padding: 8px 40px 8px 40px;
  gap: 8px;
  border-radius: 5px 5px 5px 5px;
  opacity: 0px;
}
.navbtn button {
  width: 187px;
  background-color: #EE6C4D;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#create {
  background-color: #3D5A80;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#create .container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#create .container .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: start;
}
#create .container .content h1 {
  color: #ffffff;
  width: 300px;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  line-height: 54.47px;
}
#create .container .content h1 .color {
  color: #EE6C4D;
}
#create .container .content h1 p {
  width: 526px;
  height: 69px;
  top: 345px;
  left: 160px;
  gap: 0px;
  opacity: 0px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: white;
}
#create .container .content button {
  width: 187px;
  background-color: #EE6C4D;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#create .container .contentimg {
  display: flex;
  justify-content: center;
  position: relative;
}
#create .container .contentimg .imgone {
  position: absolute;
}
#create .container .contentimg .imgtwo {
  z-index: 1;
}

#creative {
  background-color: #293241;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containertwo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  background-color: #293241;
}

.contentimage {
  display: flex;
  position: relative;
  width: 371px;
  left: 192px;
  gap: 0px;
  opacity: 0px;
  justify-content: center;
}

.about {
  width: 478px;
  height: 344px;
  top: 722px;
  left: 706px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
}
.about .pTop {
  border-top: 3px solid rgb(255, 115, 0);
  padding-top: 20px;
}
.about h1 {
  color: white;
  width: 128px;
  height: 36px;
  top: 722px;
  left: 706px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 36.4px;
  text-align: left;
  margin: 20px 0;
}
.about p {
  width: 478px;
  top: 790px;
  left: 706px;
  gap: 0px;
  opacity: 0px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: white;
}

#sectionthree {
  width: 100%;
  background-color: #303b4e;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sectionthree .containerthree {
  width: 80%;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
}
#sectionthree .containerthree h1 {
  width: 100%;
  text-align: center;
  font-family: "Open";
  font-size: 28px;
  font-weight: 400;
  line-height: 36.4px;
  color: white;
  border-bottom: 3px solid rgb(255, 115, 0);
}
#sectionthree .containerthree .imgdesc {
  width: 881px;
  height: 47px;
  top: 78px;
  left: 240px;
  gap: 0px;
  opacity: 0px;
  justify-content: center;
}

#sectionfour {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #293241;
  padding-bottom: 20px;
}
#sectionfour .containerfour {
  display: flex;
  width: 60%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#sectionfour .containerfour .works {
  display: flex;
  width: 100%;
}
#sectionfour .containerfour .works h1 {
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 115, 0);
}
#sectionfour .containerfour .allimg {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#sectionfour .containerfour .imgworks {
  gap: 10px;
  flex-direction: column;
  display: flex;
}
#sectionfour .containerfour .imgworks span {
  font-size: 19px;
}
#sectionfour .containerfour button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  padding: 10px;
  width: 13%;
  color: #EE6C4D;
  background-color: transparent;
  border: 2px solid rgb(255, 115, 0);
  text-align: center;
  cursor: pointer;
}

#comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2F3746;
}
#comment .countainerCom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
#comment .countainerCom .noqte {
  font-size: 10px;
  display: flex;
  gap: 10px;
  color: rgb(141, 139, 139);
}
#comment .countainerCom .noqte #f {
  color: rgb(255, 115, 0);
}
#comment .countainerCom h1 {
  color: white;
  width: 300px;
  font-size: 29px;
  font-family: "Open Sans";
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 115, 0);
}
#comment .countainerCom .com {
  flex-wrap: wrap;
  color: white;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #3D5A80;
}
#clients .containerfive {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
#clients .containerfive button {
  padding: 13px;
  width: 13%;
  color: white;
  font-size: 15px;
  background-color: #EE6C4D;
  border: 2px;
  cursor: pointer;
}
#clients .containerfive .tell {
  width: 100%;
}
#clients .containerfive .tell h1 {
  color: white;
  width: 300px;
  font-size: 23px;
  font-family: "Open Sans";
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 115, 0);
}
#clients .containerfive .mail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  display: flex;
  gap: 10px;
  color: rgb(141, 139, 139);
}
#clients .containerfive .mail input {
  width: 50%;
  height: 30px;
  background-color: #26384F;
  border: none;
  padding-left: 10px;
}
#clients .containerfive .detail {
  background-color: #EE6C4D;
  width: 100%;
}
#clients .containerfive .detail input {
  background-color: #26384F;
  border: none;
  padding-left: 10px;
  width: 100%;
  height: 120px;
}

#justend {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293241;
  padding-top: 40px;
  padding-bottom: 40px;
}
#justend .containersix {
  color: white;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
#justend .containersix .end h1 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans";
}
#justend .social {
  display: flex;
  gap: 15px;
}
#justend .social .social-icons {
  display: flex;
  gap: 10px;
}
#justend .social .social-icons .icon {
  color: white;
}